<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="connString1" connectionString="fo/s7UDDccRtwIuVsrgdyUPodZ1Q8+weYh+pc4IyEEsNlyRQPrvWKoIyV9oDSHX541BgN8kmdDhWszOrCjGQt+2PVX0t4ruDvgh1ZY8xzwSufHiJ47IPRylH52fbxChWfTGTihf9tsegQHsx/d6VhT2TFQWK4QoE"/>
	</connectionStrings>
</configuration>